.header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;

    &-input-container{
        position: relative;
        width: 300px;
        display: flex;
        align-items: center;
    }

    &-input{
        height: 40px;
        width: 100%;
        border-radius: 8px;
        border: 1.5px solid #eeeeee;
        padding: 10px;
        padding-left: 40px;

     
    }
    &-search{
        position: absolute;
        left: 15px;
    }
    ::placeholder{
        color: #c1c8d3;
    }

    &-left-container{
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    &-date{
        color: var(--color-text);
        font-size: 16px;
        font-weight: 600;
        margin-right: 30px;
   
    }
    &-bell{
        border: 1px solid #eeee;
        padding: 7px;
        border-radius: 8px;
    }
}